---
const { title, img, desc, badge } = Astro.props;
---

<div class="rounded-lg bg-base-100 shadow-md">
  <div class="hero-content flex-col md:flex-row">
    {img && (
      <img
        src={img}
        alt={title}
        class="max-w-full md:max-w-[13rem] rounded-lg"
      />
    )}
    <div class="grow w-full">
      <h1 class="text-xl font-bold">
        {title}
        {badge && <div class="badge badge-secondary mx-2">{badge}</div>}
      </h1>
      <p class="py-1 text-1xl">{desc}</p>
    </div>
  </div>
</div>